.prediction-panel {
  background-color: #ffffff;
}

.prediction-panel h2 {
  font-size: 1.125rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.prediction-panel textarea {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #d1d5db;
  border-radius: 0.375rem;
}

.prediction-panel p {
  margin-top: 0.5rem;
}

.numberSet {
  margin: 0 2px;
  font-size: 16px;
  width: 20px;
  height: 28px;
  line-height: 28px;
  display: inline-block;
  text-align: center;
  color: #fff;
}

.numberType1 {
  color: #000;
  border: 1px solid #d5d6d7;
  background: #ebebeb;
}

.numberType2 {
  border: 1px solid #505050;
  background: #505050;
}

.numberType3 {
  border: 1px solid #f04141;
  background: #f04141;
}

.numberType4 {
  border: 1px solid #4184d0;
  background: #4184d0;
}

.numberType5 {
  color: #000;
  border: 1px solid #d5d6d7;
  background: #ece962;
}

.numberType6 {
  border: 1px solid #54b74d;
  background: #54b74d;
}

.hit {
  background-color: #d4edda; /* 緑色 */
}

.miss {
  background-color: #f8d7da; /* 赤色 */
}
